.typewriter h1 {
    color: #fff;
    font-family: "Kodchasan Light";
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .45em;
    animation: 
      typing 1.0s steps(70, end),
      blink-caret .35s step-end 4;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

  body {
    background-color: #000;
    font-family: Avenir, sans-serif;
    color: #fffce1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
  
  p {
    max-width: 70ch;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.3;
  }
  
  #end {
    display: none;
  }

  
  